.footer {
  height: 260px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  background-color: #202020;
  color: white;
  margin-top: 50px;
  padding-top: 50px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;

}

.contact i {
  margin-left: 10px;
}


.customer-service li {
  margin-left: 20px;
}

.corporation li {
  margin-left: 50px;
}

.why-us li {
  margin-left: 50px;
}

.contact h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
 
}
.customer-service h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
 
 
}
.corporation h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
 
 
}
.why-us h4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
 
 
}

.customer-service ul {
  list-style-type: circle;
}

.corporation ul {
  list-style-type: circle;
}
.why-us ul {
  list-style-type: circle;
}