//local import

#container {
  justify-content: space-evenly;
  margin-top: 100px;
}

img {
  width: 100%;
  height: 100%;
}

#image {
  width: 500px;
  height: 500px;
}

#descriptionField {
  display: flex;
  
  
}
#filled-read-only-input {
  height: 110px;
  text-align: center;
  padding-top: 12px;
  line-height: 45px;
}

#description {
  letter-spacing: 3px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:left;
  padding-left: 50px;
  padding-top: 30px;

}
.price-wrap {
  text-align: center;
  display: flex;
  justify-content: center;
}

#price {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 32px;
}

.button-wrap {
  text-align: center;
  

#button {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
}